:root {
  --color-back: #1b1a17;
  --color-black: #242320;
  --color-grey: #1F1E1B;
  --color-orange: #A35709;
  --color-bright-orange: #FF8303;
  --color-white: #F0E3CA;

  --font-base: 'Roboto', sans-serif;
}

